@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.quemsomos-header-img {
    margin-top: 60px;
    width: 100%;
}

.quemsomos-sobre {
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

.quemsomos-sobre-title {
    font-family: 'Potta One', cursive;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.quemsomos-table {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 40%;
    position: relative;
    left: 30%;
    margin-bottom: 30px;
}

.quemsomos-item-table {
    padding: 4px;
    width: 400px;

}

.quemsomos-equipe-title {
    font-family: 'Potta One', cursive;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.quemsomos-nome-table {
    background-color: rgba(128, 128, 128, 0.137);
}


